# ==========================
# Python general
# ==========================
__pycache__/
*.py[cod]
*.so
*.log
*.out

# ==========================
# Entornos virtuales
# ==========================
.env
.venv/
venv/
ENV/
env/
env.bak/
*.env

# ==========================
# Archivos de datos y modelos pesados
# ==========================

*.npz
*.npy
*.csv
*.zip
*.h5
*.joblib
*.sav

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints

# ==========================
# Streamlit
# ==========================
.streamlit/config.toml

# ==========================
# IDEs y editores
# ==========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ==========================
# Archivos del sistema
# ==========================
.DS_Store
Thumbs.db
desktop.ini
